<div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui text loader">Loading</div>
</div>

<div class="jumbotron bg-white text-center p-0 m-0 ">
    <h1 class="display-4">Country Wise Tracker</h1>
    <hr>

    <div class="mx-auto">
        <div class="form-group col-lg-5 mx-auto">
            <label for="c">Select Country</label>
            <select name="" class="form-control" id="c" #input (change)='updateValues(input.value)'>
                <option value="{{con}}" *ngFor='let con of countries'>{{con}}</option>
            </select>
        </div>
    </div>
    <!-- <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalRecovered]='totalRecovered' [totalDeaths]='totalDeaths'></app-dashboard-card> -->
    <div class="row">
        <div class="card col p-3 m-3">
            <div class="ui statistic">
                <div class="label">
                    <h3>Confirmed</h3>
                </div>
                <div class="value">
                    {{totalConfirmed|number}}
                </div>
            </div>
        </div>
        <div class="card col p-3 m-3">
            <div class="ui statistic">
                <div class="label">
                    <h3>Recovered</h3>
                </div>
                <div class="value">
                    {{totalRecovered|number}}
                </div>
            </div>
        </div>
        <div class="card col p-3 m-3">
            <div class="ui statistic">
                <div class="label">
                    <h3>Deaths</h3>
                </div>
                <div class="value">
                    {{totalDeaths|number}}
                </div>
            </div>
        </div>
        <div class="card col p-3 m-3">
            <div class="ui statistic">
                <div class="label">
                    <h3>Active</h3>
                </div>
                <div class="value">
                    {{totalActive|number}}
                </div>
            </div>
        </div>
    
    </div>
    <!-- has a app dashboard module to modify this -->

    
</div>