<div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui text loader">Loading</div>
</div>

<div class="jumbotron bg-white text-center p-0 m-0">
    <h1 class="display-4">Covid-19 Global Tracker</h1>
    <hr>

    <div class="row">
        <div class="card col p-3 m-3">
            <div class="ui statistic">
                <div class="label">
                    <h3>Confirmed</h3>
                </div>
                <div class="value">
                    {{totalConfirmed1|number}}
                </div>
            </div>
        </div>
        <div class="card col p-3 m-3">
            <div class="ui statistic">
                <div class="label">
                    <h3>Recovered</h3>
                </div>
                <div class="value">
                    {{totalRecovered1|number}}
                </div>
            </div>
        </div>
        <div class="card col p-3 m-3">
            <div class="ui statistic">
                <div class="label">
                    <h3>Deaths</h3>
                </div>
                <div class="value">
                    {{totalDeaths1|number}}
                </div>
            </div>
        </div>
        <div class="card col p-3 m-3">
            <div class="ui statistic">
                <div class="label">
                    <h3>Active</h3>
                </div>
                <div class="value">
                    {{totalActive1|number}}
                </div>
            </div>
        </div>
    
    </div>
</div>

<hr>
 
 <div class="ui form">
    <div class="inline fields">
        <label for="fruit">Select Case Type : </label>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" id='c' #c (click)='updateChart(c)' value="c" name="casetype" checked="" tabindex="0" class="hidden">
                <label for='c'>Confirmed</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" value='d' #d (click)='updateChart(d)' id='d' name="casetype" tabindex="0" class="hidden">
                <label for='d'>Deaths</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" value='r' #r (click)='updateChart(r)' id='r' name="casetype" tabindex="0" class="hidden">
                <label for='r'>Recovered</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input id='a' #a type="radio" (click)='updateChart(a)' value='a' name="casetype" tabindex="0" class="hidden">
                <label for='a'>Active</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="regions_div" style="width: 700px; height: 450px;"></div>
        </div>
        <div class="col">
            <google-chart [data]="pieChart"></google-chart>
        </div>
    </div>  
