  <main class="col-lg-9 order-lg-2" role="main" aria-label="Main Content Area" style="margin : 0 auto">
    <div class="row visual-element">
      <div class="col">
        <!-- Visual Element, this is what was the site identity in TP3 -->
      </div>
    </div>
    <div class="section-nav-area">
      <nav role="navigation" aria-label="Section Nav" class="w-100 sticky-top">
        <!-- Page Title/Section Nav (mobile) -->
      </nav>
    </div>

    <div class="row">
      <div class="col content ">
      
       <br />
        <div class="syndicate">
          <div class="row ">
            <div class="col-md-12 ">
              <div class="row">
              <div class="card border-0 mb-3 col-md-12">
                <div class="card-body bg-white">
                  <h2>Know How it Spreads</h2>
                </div>
              </div>
            </div>
              <div class="row" style="color: black">
                <div class="col-md-3">
                  <div class="d-none d-md-block cdc-viewports text-center text-center text-center"><img src="../../assets/sneezingwoman.png"
                      class="img-fluid" alt="Illustration: woman sneezing on man" title=""></div>
                  <div class="d-block d-md-none cdc-viewports text-center"><img src="../../assets/COVID_mobile_person_to_person.png"
                      class="img-fluid" alt="Illustration of woman sneezing on man"
                      title="COVID_mobile_person_to_person"></div>
                  <p></p>
                </div>
                <div class="col-md-9">
                  <div class="card border-0 mb-3">
                    <div class="card-body bg-dark">
                      <ul>
                        <li>There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19).</li>
                        <li>The best way to prevent illness is to avoid being exposed to this virus.</li>
                        <li>The virus is thought to spread mainly from person-to-person.
                          <ul>
                            <li>Between people who are in close contact with one another (within about 6 feet).</li>
                            <li>Through respiratory droplets produced when an infected person coughs or sneezes.</li>
                          </ul>
                        </li>
                        <li>These droplets can land in the mouths or noses of people who are nearby or possibly be
                          inhaled into the lungs.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  <div class="row ">
                  <div class="card border-0 mb-3 col-md-12">
                    <div class="card-body bg-white">
                      <h2>Take steps to protect yourself</h2>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-3">

                  <div class="d-none d-md-block cdc-viewports text-center"><img src="../../assets/protect-wash-hands.png"
                      class="img-fluid" alt="Illustration: washing hands with soap and water"
                      title="protect-wash-hands"></div>
                  <div class="d-block d-md-none cdc-viewports text-center"><img src="../../assets/COVIDmobile_07_wash.png"
                      class="img-fluid" alt="Wash Your Hands" title="COVIDmobile_07_wash"></div>
                  <p></p>
                </div>
                <div class="col-md-9">
                  <div class="card border-0 mb-3">
                    <div class="card-body bg-white">
                      <h3>Clean your hands often</h3>
                      <ul>
                        <li><strong>Wash your hands</strong> often with soap and water for at least 20 seconds
                          especially after you have been in a public place, or after blowing your nose, coughing, or
                          sneezing.</li>
                        <li>If soap and water are not readily available, <strong>use a hand sanitizer that contains at
                            least 60% alcohol</strong>. Cover all surfaces of your hands and rub them together until
                          they feel dry.</li>
                        <li><strong>Avoid touching</strong> <strong>your eyes, nose, and mouth</strong> with unwashed
                          hands.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  <div class="row-fluid">
                    <div class="vc_empty_space col-12 pb-1"><span class="vc_empty_space_inner"></span></div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-3">
                  <div class="d-none d-md-block cdc-viewports text-center"><img src="../../assets/protect-quarantine.png"
                      class="img-fluid" alt="Illustration: Woman quarantined to her home" title="protect-quarantine">
                  </div>
                  <div class="d-block d-md-none cdc-viewports text-center"><img src="../../assets/COVIDmobile_01_quarantine.png"
                      class="img-fluid" alt="Quarantine" title="COVIDmobile_01_quarantine"></div>
                  <p></p>
                </div>
                <div class="col-md-9">
                  <div class="card border-0 mb-3">
                    <div class="card-body bg-white">
                      <h3>Avoid close contact</h3>
                      <ul>
                        <li><strong>Avoid close contact</strong> with people who are sick</li>
                        <li>Put <strong>distance between yourself and other</strong> <strong>people</strong> if COVID-19
                          is spreading in your community. This is especially important for people who
                            are at higher risk of getting very sick.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  <div class="row ">
                  <div class="card border-0 mb-3 col-md-12">
                    <div class="card-body bg-white">
                      <h2>Take steps to protect others</h2>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-3">
                  <div class="d-none d-md-block cdc-viewports text-center"><img src="../../assets/COVIDweb_02_bed.png"
                      class="img-fluid" alt="man in bed" title="COVIDweb_02_bed"></div>
                  <div class="d-block d-md-none cdc-viewports text-center"><img src="../../assets/COVIDmobile_02_bed.png"
                      class="img-fluid" alt="Bed" title="COVIDmobile_02_bed"></div>
                  <p></p>
                </div>
                <div class="col-md-9">
                  <div class="card border-0 mb-3">
                    <div class="card-body bg-white">
                      <h3>Stay home if you’re sick</h3>
                      <ul>
                        <li><strong>Stay home</strong> if you are sick, except to get medical care. Learn <a
                            href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html">what
                            to do if you are sick</a>.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  <div class="row-fluid">
                    <div class="vc_empty_space col-12 pb-1"><span class="vc_empty_space_inner"></span></div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-3">
                  <div class="d-none d-md-block cdc-viewports text-center"><img src="../../assets/COVIDweb_06_coverCough.png"
                      class="img-fluid" alt="woman covering their mouth when coughing" title="COVIDweb_06_coverCough">
                  </div>
                  <div class="d-block d-md-none cdc-viewports text-center"><img src="../../assets/COVIDmobile_06_coverCough.png"
                      class="img-fluid" alt="Cover Your Cough" title="COVIDmobile_06_coverCough"></div>
                  <p></p>
                </div>
                <div class="col-md-9">
                  <div class="card border-0 mb-3">
                    <div class="card-body bg-white">
                      <h3>Cover coughs and sneezes</h3>
                      <ul>
                        <li><strong>Cover your mouth and nose</strong> with a tissue when you cough or sneeze or use the
                          inside of your elbow.</li>
                        <li><strong>Throw used tissues</strong> in the trash.</li>
                        <li>Immediately <strong>wash your hands</strong> with soap and water for at least 20 seconds. If
                          soap and water are not readily available, clean your hands with a hand sanitizer that contains
                          at least 60% alcohol.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  <div class="row-fluid">
                    <div class="vc_empty_space col-12 pb-1"><span class="vc_empty_space_inner"></span></div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-3">
                  <div class="d-none d-md-block cdc-viewports text-center"><img src="../../assets/COVIDweb_05_mask.png"
                      class="img-fluid" alt="man wearing a mask" title="COVIDweb_05_mask"></div>
                  <div class="d-block d-md-none cdc-viewports text-center"><img src="../../assets/COVIDmobile_05_mask.png"
                      class="img-fluid" alt="Mask" title="COVIDmobile_05_mask"></div>
                  <p></p>
                </div>
                <div class="col-md-9">
                  <div class="card border-0 mb-3">
                    <div class="card-body bg-white">
                      <h3>Wear a facemask if you are sick</h3>
                      <ul>
                        <li><strong>If you are sick:</strong> You should wear a facemask when you are around other
                          people (e.g., sharing a room or vehicle) and before you enter a healthcare provider’s office.
                          If you are not able to wear a facemask (for example, because it causes trouble breathing),
                          then you should do your best to cover your coughs and sneezes, and people who are caring for
                          you should wear a facemask if they enter your room. <a
                            href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html">Learn
                            what to do if you are sick.</a></li>
                      </ul>
                      <ul>
                        <li><strong>If you are NOT sick: </strong>According to CDC's latest advice, you are welcome to make simple cloth face coverings to 
                          slow the spread of the virus. Facemasks may be in short supply and they should be saved for caregivers.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  <div class="row-fluid">
                    <div class="vc_empty_space col-12 pb-1"><span class="vc_empty_space_inner"></span></div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-3">
                  <div class="d-none d-md-block cdc-viewports text-center"><img src="../../assets/COVIDweb_09_clean.png"
                      class="img-fluid" alt="cleaning a counter" title="COVIDweb_09_clean"></div>
                  <div class="d-block d-md-none cdc-viewports text-center"><img src="../../assets/COVIDmobile_09_clean.png"
                      class="img-fluid" alt="Clean Surfaces" title="COVIDmobile_09_clean"></div>
                  <p></p>
                </div>
                <div class="col-md-9">
                  <div class="card border-0 mb-3">
                    <div class="card-body bg-white">
                      <h3>Clean and disinfect</h3>
                      <ul>
                        <li><strong>Clean AND disinfect <a
                              href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/cleaning-disinfection.html">frequently
                              touched surfaces</a>&nbsp;daily</strong>. This includes tables, doorknobs, light switches,
                          countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.</li>
                        <li><strong>If surfaces are dirty, clean them:</strong> Use detergent or soap and water prior to
                          disinfection.</li>
                        <li><strong>To disinfect: </strong>Most common EPA-registered household disinfectants will works.</li>
                      </ul>
                      
                        <!-- </div> -->
                       
                      <!-- </div> -->
                    </div>
                  </div>
                
                  <p></p>
                </div>
              </div>
            
             
            </div>
          </div>
        </div>
      </div>
    </div>

  
  
  </main>


<!-- <div  class="col-md-12">
  <div  class="container">
    <h5  class="list-group-item" style="margin-top: 1em;" >Basic important points to keep in mind to set preventive measures
      and also avoid further spread of (COVID-19) / Corona virus.</h5>
    <ul  class="list-group">
      <li  class="list-group-item list-group-item-primary">1. Regularly wash your hands with and
        alcohol-based rub or wash it with soap and water.</li>
      <li  class="list-group-item list-group-item-secondary">2. Maintain at least 3 metres of
        distance between you and anyone who is coughing or sneezing.</li>
      <li  class="list-group-item list-group-item-success">3. Don't touch your eyes, nose or mouth
        frequently. Virus can be transferred easily if the hands are contaminated.</li>
      <li  class="list-group-item list-group-item-danger">4. Practicing a good respiratory hygiene
        is a must. Cover your mouth while sneezing or coughing.</li>
      <li  class="list-group-item list-group-item-warning">5. If you are having cough and difficulty
        breathing, seek medical care immediately.</li>
      <li  class="list-group-item list-group-item-info">6. Keep in mind about the virus prevention
        guidelines set by your government or local authority.</li>
      <li  class="list-group-item list-group-item-light">7. Avoid travelling to places which are
        affected by corona virus outbreak and keep in mind about the travel advisory set by the local body.</li>
      <li  class="list-group-item list-group-item-dark">8. Eat healthy, hygienic &amp; well cooked
        food.</li>
      <li  class="list-group-item list-group-item-dark">9. Refer WHO website for further info by <a
           href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
          target="_blank">clicking here</a></li>
    </ul>
  </div>
</div> -->