<!-- <p>aboutme works!</p> -->
<div class="container datasouce" style="justify-content: center; align-content: flex-end;margin-bottom: 2px; margin-top: 2px; ">
    <div class="col-sm-12 newsdiv" style="background-color: white!important; color: black !important; margin-top: 0.5em; 
      margin-bottom: 0.2em; border-radius: 10px;" >
  
  <h4 style="margin-top: 10px;">
      About us
  </h4>
  
  <hr />
  
    
  <div class="aboutmediv">
    Hi, we are Haoyu Guo and Tianyi Xu, graduate students from University of Southern California in EE departement.<br /><br />
  
    This is our first fullstack project trying to track the current status of the coronavirus outbreak all over the world.<br /><br />
    
    This project started with simple thought of building data source of Coronovirus numbers after watching numbers on news baners. 
    We built API related to <a href="https://github.com/CSSEGISandData/COVID-19">data</a> from John Hopkings University and frontend interface based on Angular framework. <br/><br />
    

You can see the source code of this project at GitHub: <a href="https://github.com/guohaoyu110/COVID-19_tracker_analysis">COVID-19_tracker_analysis</a><br /><br />

If you find error in our Covid-19 project, feel free to pull request or post an issue.<br /><br />
<p>

You can also email us at: guohaoyu110@gmail.com 

</p><br/>
</div>
</div></div>